body {
  font-family: "Raleway", sans-serif;
  color: #a9a9a9;
  font-size: 16px;
  font-weight: 450;
  background-color: black;
}

h1 {
  font-size: 28px;
  color: #e9ecef;
  margin: 0;
}

h2 {
  font-size: 16px;
  color: #ced4da;
  margin: 0;
}

a {
  color: #6c757d;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
}
a:hover {
  color: #6c757d;
  text-decoration: underline;
}

p {
  font-size: 16px;
  color: #adb5bd;
  margin: 0;
}

#wrapper {
  margin: 0 auto;
  padding: 1rem 1rem;
  max-width: 576px;
  display: flex;
  flex-direction: column;
}

/* Header Section*/
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
  width: 100%;
}

/* Avatar Section */
#avatar {
  margin-bottom: 20px;
}

#avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  background-color: purple;
  line-height: 50px;
  text-align: center;
}

#avatar .info {
  margin: 10px 0 0 120px;
}

#about p {
  margin-top: 8px;
  margin-bottom: 32px;
}

#education h2 {
  margin-bottom: 8px;
}

#workexperience h2 {
  margin-bottom: 8px;
}

.list-item {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-bottom: 30px;
}

.list-item .heading {
  min-width: 150px;
  white-space: nowrap;
}

.list-item .content p {
  word-break: normal;
  white-space: normal;
}

/* Contact Section  */

#contact h2 {
  margin-bottom: 8px;
}

#contact .list-item {
  margin-bottom: 0;
}
